<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script> 
    <title>Event Handling</title>
</head>
<body ng-app="eventHandel">
    <div ng-controller="eventController">
        <table>
            <thead>
                 <tr>
                    <th>Name</th> 
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                 </tr>
                
            </thead>
             <tbody>
                 <tr ng-repeat="technology in technologies">
                     <td>{{technology.name}}</td>
                     <td>{{technology.likes}}</td> 
                     <td>{{technology.dislikes}}</td>  
                     <td><input type="button" value="Like" ng-click="incrementLikes(technology)">
                     <input type="button" value="dislike" ng-click="decrementLikes(technology)"></td>
                   </tr>   
             </tbody>
            
        </table>         
    </div>
    
</body>
</html>